results/hit_DNA_sequences/
results/dREhomologs_MR20230620.csv
inputs/
*.fasta
fastas/
work/
.nextflow/
.nextflow.log*
.RData
.Rhistory
uTR/
*test*
.DS_Store
*.Rproj*
results/cartography_results/
.Rproj.user
